@page "/"

<PageTitle>Home</PageTitle>

<h1>Problem management</h1>

<h3>Terra Assistance</h3>

<h5>
    Terra Assistance Problem Management is a web application designed to help organizations manage and resolve problems
    efficiently. It provides a user-friendly interface for tracking issues, collaborating with team members, and
    ensuring
    timely resolution.
</h5>

<p>
    This application is built using Blazor, a modern web framework that allows developers to create interactive web
    applications using C# and .NET.
    It leverages the power of ASP.NET Core Identity for user authentication and authorization, ensuring secure access to
    the application.
</p>
